html {
    font-size: 62.5%
}

body {
    background-color: #566246;
    color: #E8F0FF;
    font-size: 2.4rem;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    margin: 5rem 10rem;
    max-width: 1500px;
}

h1 {
    color: #B9E1BA;
    font-size: 6rem;
    line-height: 1.2;
    font-family: 'Libre Baskerville', serif;
}

section {
    display: none;
    margin: 50px auto;
}

p {
    padding: 15px 0;
}

figcaption {
    margin-top: 0;
    font-size: 1.8rem;
}

.introduction {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    background-color: #A3DFFE;
    margin: 10px 10px 10px 0px;
}

.highContrast{
    background-color: #1C1C1C;
    color: #E8F0FF;
    }

.dark {
    background-color: #1C1C1C;
}

@media(max-width:1030px) {
    h1 {
        font-size: 5rem;
    }
    body {
        font-size: 1.8rem;
    }
}

@media(max-width:800px) {
    .wrapper {
        margin: 1.75rem 5rem;
    }
    button,
    input[type="text"]{
        width: 100%;
        padding: 25px 0;
        margin: 1rem 0;
    }
}

@media(max-width:650px) {
    .wrapper {
        margin: 1.5rem;
    }
}